{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
    <title>Responsive Navbar</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href='#'><i class="fa-solid fa-paw"></i> PET CARE</a></div>
            <ul class="links">
                <li><a href="Home">Home</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Services">Services</a></li>
                <li><a href="Contact">Contact</a></li>
            </ul>
             <li>
                <a href="{% url 'logout' %}" class="action_btn">logout</a>
            

            </li> 
            
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="Hero">Home</a></li>
            <li><a href="About">About</a></li>
            <li><a href="Services">Services</a></li>
            <li><a href="Contact">Contact</a></li>
            <li><a href="{% url 'logout' %}" class="action_btn">logout</a></li>


        </div>
    </header>

    <main>
        <section id="Hero">
            <h1>Welcome!<br><span>To our New Website.</span></h1>
            <p>
                The best place for Caring Your Loving PETS
            </p>

            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>

        </section>
    </main>
    
    
    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
                ? 'fa-solid fa-xmark'
                : 'fa-solid fa-bars'
        }
    </script>
</body>

</html>